<div class="container-fluid">
  <ng-container *ngIf="cardexist"> 

     <!--/.Carousel Wrapper-->
     <h3 style="margin:15px 0;">Title</h3>
         
     <!-- <div *ngFor="let arr of testcitiesarr;let i=index">
      {{i}}
        <p>{{arr.name}}</p>
        <p>{{arr.details}}</p>
      </div>  -->
    <!--Carousel Wrapper-->
    <div id="multi-item-example-2" class="carousel slide carousel-multi-item" data-ride="carousel">
    
      <!--Controls
      <div class="controls-top text-center">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      Controls-->
    
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
    
        <!--First "https://maps.avios.com/{{arr.images[2].src}}"slide-->
        <div class="carousel-item active" >
    
          <div class="col-md-3" *ngFor="let arr of testcitiesarr;let i=index">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{arr.name}}</h4>
                <p class="card-text">{{arr.details}}</p>
              </div>
            </div>
          </div>
    
    
        </div>
        <!--/.First slide-->
    
        <!--Second slide -->
        <div class="carousel-item">
            <ng-container  *ngFor="let arr of testcitiesarr;let i=index">
          <div class="col-md-3" *ngIf="i >= 4"> 
              
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{arr.name}}</h4>
                <p class="card-text">{{arr.details}}</p>
              </div>
            </div>
          </div>
            </ng-container>
    
        </div>
      <!--/.Second slide-->
    
      </div>
      <!--/.Slides-->
    
      <!-- Indicators -->
      <div class="carousalindicator">
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example-2" data-slide-to="1"></li>
      </ol>
    
      </div>
      <!-- /.Indicators -->
    </div>
    <!--/.Carousel Wrapper-->

    <h3 style="margin:15px 0;">Title</h3>
     
     <!-- <div *ngFor="let arr of testcitiesarr;let i=index">
      {{i}}
        <p>{{arr.name}}</p>
        <p>{{arr.details}}</p>
      </div>  -->
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    
      <!--Controls
      <div class="controls-top text-center">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      Controls-->
    
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
    
        <!--First slide-->
        <div class="carousel-item active" >
    
          <div class="col-md-3" *ngFor="let arr of testcitiesarr;let i=index">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body"> 
                <h4 class="card-title">{{arr.name}}</h4>
                <p class="card-text">{{arr.details}}</p>
              </div>
            </div>
          </div>
    
    
        </div>
        <!--/.First slide-->
    
        <!--Second slide -->
        <div class="carousel-item">
            <ng-container  *ngFor="let arr of testcitiesarr;let i=index">
          <div class="col-md-3" *ngIf="i >= 4 "> 
              
            <div class="card mb-2"> 
                
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"  
              alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{arr.name}}</h4>
                <p class="card-text">{{arr.details}}</p>
              </div>
            </div>
          </div>
            </ng-container>
    
        </div>
      <!--/.Second slide-->
    
      </div>
      <!--/.Slides-->
    
      <!-- Indicators -->
      <div class="carousalindicator">
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
      </ol>
    
      </div>
      <!-- /.Indicators -->
    </div>

   
      </ng-container>
        </div>
            